<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Single Post</title>
</head>
<body>

<table>
  <tr>
    <td th:text="${post.id}"></td>
    <td th:text="${post.name}"></td>
    <td th:text="${post.message}"></td>
    <td th:text="${post.date}"></td>
    <td th:text="${post.userName}"></td>
  </tr>
</table>

</body>
</html>
